{% extends 'hostel/baseroom.html' %}
{% load static %}

{% block title %}
    Номер 1
{% endblock %}

{% block numberofroom %}
    Номер 1
{% endblock %}

{% block source %}
    <img src="{% static 'hostel/images/standart_room-1.jpg' %}" alt="Номер 9" style="height: 450px; border: 1px solid #1460af; border-radius: 8px;">
{% endblock %}

{% block description %}
    Добро пожаловать в наш стандартный номер! Это просторное и уютное помещение, созданное для вашего комфорта и отдыха.
    В стандартном номере вы найдете все необходимое для приятного пребывания.
    У нас предусмотрены удобная кровать, современная ванная комната, оснащенная всеми необходимыми удобствами,
    а также рабочее пространство для выполнения деловых задач или планирования маршрута вашего отдыха.
    Мы предлагаем бесплатный Wi-Fi, телевизор с широким выбором каналов и доступ к прачечной услуге.
    Цена/сутки: 1500 рублей.
{% endblock %}