{% extends 'hostel/baseroom.html' %}
{% load static %}

{% block title %}
    Номер 10
{% endblock %}

{% block numberofroom %}
    Номер 10
{% endblock %}

{% block source %}
    <img src="{% static 'hostel/images/luks.jpg' %}" alt="Номер 10" style="height: 480px; position: relative; top: -20px; left: 10px; border: 1px solid #1460af; border-radius: 8px;">
{% endblock %}

{% block description %}
    Просторный и изысканно оформленный номер Люкс предлагает максимальный комфорт и роскошь.
    С его площадью в 40 квадратных метров, он станет идеальным выбором для тех, кто ищет уют
    и элегантность во время пребывания. В номере Люкс вы найдете удобную кровать размера King или Queen,
    отдельную гостиную зону с комфортными креслами, и просторную ванную комнату с джакузи и отдельным душем.
    Дополнительные удобства в номере включают бесплатный Wi-Fi, телевизор с плоским экраном, кондиционер,
    мини-бар, сейф и пресс для брюк. В номере Люкс гарантированы роскошь, комфорт и незабываемый отдых.
    Цена/сутки: 3500 рублей.

{% endblock %}